html {
  font-size: min(5.7vw, 0.9em);

  body {
    font-family: "Roboto Mono", monospace;

    section:not(:last-of-type) {
      border-bottom-width: 1px;
    }

    .work-item {
      font-size: min(calc(4.5vw - 0.2em), 1em);

      img {
        width: 3em;
      }
    }
  }
}
